:root {
  --color-text: #fafafa;
  --color-text1: rgb(228, 184, 9);
  --color-text11: rgb(255, 217, 0);
  --color-text2: #2c558c;
  --color-text3: #040f46;
  --color-bg1: rgb(200, 208, 247);
  --color-bg2: linear-gradient(#3655f1, #3655f1, rgb(82, 198, 239));
  --color-bg3: linear-gradient(rgb(82, 198, 239), #fafafa, #fafafa, #fafafa);
  --color-bg4: rgb(179, 179, 179);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  /* background: var(--color-bg3); */
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-text2);
}

header {
  background: var(--color-bg2);
}

a {
  text-decoration: none;
}
